div#head{
	height:100px;
	background-color: #000;
}

#kl{
   font-weight: 700;
   color:white;
  font-family: "Impact, Charcoal, sans-serif";
 }
div#maindiv{
	height:738px;
}
div#one{
	height:738px;
	background-image: linear-gradient(to top, #6600cc,#ffccf2);
	border:2px solid white;
}
div#one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
-ms-transform:scale(1.02);
-webkit-transform:scale(1.02);
-webkit-transform:scale(1.02);

}
div#two{
	height:738px;
	background-image: linear-gradient(to top, #6600cc,#ffccf2);
	border:2px solid white;	
}
div#three{
	height:738px;
	background-image: linear-gradient(to top, #6600cc,#ffccf2);
	border:2px solid white;	
}
div#four{
	height:738px;
	background-image: linear-gradient(to top, #6600cc,#ffccf2);
	border:2px solid white;	
}
div#five{
	height:738px;
	background-image: linear-gradient(to top, #6600cc,#ffccf2);	
	border: 2px solid white;
}
div#kk,#kk1{
	height:738px;
	background-image: linear-gradient(to top, #6600cc,#ffccf2);	
	border: 2px solid white;
}


div.temp{
	height:15px;
	width:105px;
	background-color:#000000;
}